@import model.Category
@(categories: List[Category])
@main("Hello there") {
    <h3>List of categories</h3>

    <table>
        <td class="table-header">Category name</td>
        <td class="table-header">Product names</td>
        @for(category <- categories) {
            <tr>
                <td>@category.getName</td>
                <td>@Html(category.getProductsAsString)</td>
            </tr>
        }
    </table>
}
