@import model.Customer
@(customers: List[Customer])
@main("Hello there") {
    <h3>List of customers</h3>

    <h4><a href="/customers/new">Add new customer</a></h4>
    <table>
        <td class="table-header">Customer name</td>
        <td class="table-header">Order IDs</td>
        @for(customer <- customers) {
            <tr>
                <td>@customer.getCustomerName</td>
                <td>@Html(customer.getOrdersAsString)</td>
            </tr>
        }
    </table>
}
