@import model.ProductOrder
@(orders: List[ProductOrder])
@main("Hello there") {
    <h3>List of orders</h3>

    <h4><a href="/orders/new">Add new order</a></h4>
    <table>
        <td class="table-header">Order ID</td>
        <td class="table-header">Product</td>
        <td class="table-header">Quantity</td>
        @for(order <- orders) {
            <tr>
                <td>@order.getOrderId</td>
                <td>@order.getTarget.getProductName</td>
                <td>@order.getQuantity</td>
            </tr>
        }
    </table>
}
