@import model.Product
@(products: List[Product])
@main("Hello there") {
    <h3>List of products</h3>

    <table>
        <td class="table-header">Product name</td>
        <td class="table-header">In stock</td>
        <td class="table-header">Category ID</td>
        <td class="table-header">-</td>
        @for(product <- products) {
            <tr>
                <td>@product.getProductName</td>
                <td>@product.getUnitsInStock</td>
                <td>@product.getCategoryId</td>
                <td><a href="/products/resupply/@product.getProductId">Resupply</a></td>
            </tr>
        }
    </table>
}
