@import model.Supplier
@(suppliers: List[Supplier])
@main("Hello there") {
    <h3>List of suppliers</h3>

    <h4><a href="/suppliers/new">Add new supplier</a></h4>
    <table>
        <td class="table-header">Company name</td>
        <td class="table-header">Street</td>
        <td class="table-header">City</td>
        @for(supplier <- suppliers) {
            <tr>
                <td>@supplier.getCompanyName</td>
                <td>@supplier.getStreet</td>
                <td>@supplier.getCity</td>
            </tr>
        }
    </table>
}
