@import helper._

@()(implicit request: RequestHeader)
@main("Hello there") {
    <form method="post" action="@CSRF(routes.HomeController.newCustomerAction())">
        Customer name:
        <input type="text" name="name" id="name">
        <input type="submit" value="Submit form">
    </form>
}
