@import helper._

@()(implicit request: RequestHeader)
@main("Hello there") {
    <form method="post" action="@CSRF(routes.HomeController.newSupplierAction())">
        Name:
        <input type="text" name="name" id="name">
        Street
        <input type="text" name="street" id="street">
        City:
        <input type="text" name="city" id="city">
        <input type="submit" value="Add new">
    </form>
}
