@import helper._
@import model.Customer

@import model.Supplier
@(forms: Form[ResupplyRequest], suppliers: List[Supplier], productId: Int)(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Hello there") {

    <h2>Resupplying product with id: @productId</h2>
    @helper.form(action = routes.HomeController.resupplyAction(productId)) {
        <div id ="order-form">
            @CSRF.formField
            @helper.inputText(forms("Quantity"), '_help -> "")
            @CSRF.formField
            @select(forms("Supplier name"),
                suppliers.map(s => s.getCompanyName -> s.getCompanyName)
            )
            <input type="submit" value="Resupply" id="left-down-input">
        </div>
    }
}
